<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Noorani needs location access to show accurate prayer times for your area.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Noorani needs location access to show accurate prayer times for your area.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-Regular.ttf</string>
	</array>
</dict>
</plist>
